<div class="login-wrapper">
  <div class="container">
      <div class="login">

        <h2>ユーザ設定</h2>

        <div class="login-user">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <i class="fas fa-envelope fa-fw"></i>
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
               <i class="fas fa-lock fa-fw"></i>
              <%= f.label :新パスワード %><br />
              <%= f.password_field :password, autocomplete: "off", :placeholder => "パスワードを変更する場合は６文字以上の新パスワードを入力してください" %>  
            </div>

            <div class="field">
               <i class="fas fa-lock fa-fw"></i>
              <%= f.label :確認用パスワード %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" ,:placeholder => "新パスワードを入力してください" %>
            </div>

            <div class="field">
              <i class="fas fa-lock fa-fw"></i>
              <%= f.label :現在のパスワード %><br />
              <%= f.password_field :current_password, autocomplete: "off", :placeholder => "現在のパスワードを入力してください" %>
            </div>

            <div class="actions">
              <%= f.submit "更新" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div clas="delete-wrapper">
  <div class="container">
    <div class="delete">
      <h2>アカウント削除</h2>

        <p>アカウントを削除すると、ClosetAppの利用ができなくなります。 
          <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除をしてよろしいでしょうか？" }, method: :delete %></p>

    </div>
  </div>
</div>