<div class="cloth-data__info"> 

  <%= form_with(model: cloth, local: true) do |form| %>
    <% if cloth.errors.any? %>
      <div id="error_explanation">
        <h2>入力した内容にエラーが<%= cloth.errors.count %>件あります</h2>
        <ul>
        <% cloth.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.hidden_field :user_id, :value => current_user.id %> 
    </div>

    <div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :category_id %><br>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <div class="field">
      <%= form.label :color_id %><br>
      <%= form.collection_select :color_id, Color.all, :id, :name %>
    </div>

    <div class="field">
      <%= form.label :memo %><br>
      <%= form.text_field :memo %>
    </div>

    <div class="field">
        <%= form.label :image %><br>        
        <%= form.file_field :image %>
        <img src="<%= @cloth.image %>" class="uploaded thumb" alt="" /><br />
    </div>

    <div class="actions">
      <%= form.submit :value => "登録"%>
    </div>

  <% end %>
</div>

