<div class="cloth-index-wrapper">

  <div class ="side-nav">
    <%= render 'side_nav' %>
    <%= render 'side_nav_color' %>
  </div>

 <%= form.hidden_field :category_id, :value => params[:id] %>

  <div class="cloth-index">
    <h2><%= current_user.name %>のクローゼット</h2>
    <h3>アイテム数：<%= @cloths.count %></h3>　　

    <div class="card">
      <% @cloths.each do |cloth| %>
        <div class="cloth__card">
          <li>
            <img class="card__img" src="<%= cloth.image %>"><br>
            <%= link_to "#{cloth.name}", "/cloths/#{cloth.id}", :class => "card__name" %>
          </li>
        </div>
      <% end %>
    </div>
  </div>

</div>


