<p id="notice"><%= notice %></p>

<div class="cloth-show">

  <h3><%= @cloth.name %></h3>
  <div class="cloth-image">
    <img src ="<%= @cloth.image %>">
  </div>
  <p>カテゴリ：<%= @cloth.category.name %></p>
  <p>カラー：<%= @cloth.color.name %></p>
  <p>メモ：<%= @cloth.memo %></p>

</div>

<%= link_to 'Edit', edit_cloth_path(@cloth) %> |
<%= link_to 'Back', cloths_path %>
