<!-- <p id="notice"><%= notice %></p> -->

<div class="cloth-show">

  <h3><%= @cloth.name %></h3>
  <div class="cloth-image-show">
    <img src ="<%= @cloth.image %>">
  </div>
  <p>カテゴリ：<%= @cloth.category.name %></p>
  <p>カラー：<%= @cloth.color.name %></p>
  <p>メモ：<%= @cloth.memo %></p>

  <div class="link mb50">
    <%= link_to '洋服データの編集', edit_cloth_path(@cloth) %><br>
    <%= link_to '洋服データの削除', cloth_path(@cloth), method: :delete, data: {confirm: "本当に削除しますか？"} %><br><br>
    <%= link_to '洋服一覧ページに戻る', :back %> 
  </div>


</div>


